body {
  margin: 0;
  min-height: 100vh;

  background-image: url('assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timer {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);  /* Centers horizontally */
  top: 11.4%;  /* Adjust this to where the monitor is vertically */
  width: 55.6vw;
  height: 63.5vh;
}

.timer.paused {
  background: black;
  animation: none;
}

.timer.running {
  background: linear-gradient(-45deg, #070228, #192578, #293fcb);
  background-size: 400% 400%;
  animation: gradient-move 15s ease infinite;
}

.timerText {
  text-align: center;
}

.time {
  font-size: 25vh;
  margin: 0;
}

.sessionType {
  margin: 0;
}

.sessionCount {
  margin: 0;
}

.timerButtons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.todoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  position: absolute;
  /* background-color: pink; */
  left: 89%;
  transform: translateX(-50%);  /* Centers horizontally */
  top: 18.5%;  /* Adjust this to where the monitor is vertically */
  width: 17.5vw;
  height: 36vh;
  padding: 10px;
}

.todoList .title {
  font-size: 2vw;
  margin: 0;
  padding-bottom: 10px;
  text-decoration: underline;
  text-underline-offset: 7px;
}

.todoList ul {
  width: 16.5vw;
  text-align: left;
  list-style: circle;
  padding-left: 30px;
  text-align: left;
  /* background-color: pink; */
  margin: 0;
  font-size: 2.2vh;
  word-break: break-all;
  /* background-color: palegoldenrod; */
  height: 25vh;
  overflow-y: auto;
}

.todoList li {
  padding: 4px;
}

.timerButtons button {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.todoList .addTodo {
  background: #5d7d8e;
  margin: 10px;
  border: none;
  color: white;
  font-size: 3vh;
  cursor: pointer;
  position: relative;
  padding: 5px 40px;
  border-radius: 20px;
}

.todoList .inputTodo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoList .inputTodo textarea {
  background: white;
  border: 1px solid #333;
  border-radius: 5px;
  color: #333;
  margin-right: 7px;
  font-size: 2vh;
  outline: none;
  width: 13vw;
}

.todoList .inputTodo button {
  background: #5d7d8e;
  margin: 13.1px 0px;
  border: none;
  color: white;
  padding: 7px;
  font-size: 2vh;
  cursor: pointer;
  position: relative;
  border-radius: 20px;
}

.todoList .inputTodo button:hover {
  background: #555;
}

.todoList li {
  cursor: pointer;
}

.todoList li.completed {
  text-decoration: line-through;
  opacity: 0.6;
}


/* 4. Define how the background moves */
@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}